.inputFieldOne {
    background-color: rgba(34, 73, 87, 1);
}

.inputFieldSecond {
    background-color: rgba(34, 73, 87, 1);
}

.checkBoxText{
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}

.button{
    background-color: rgba(43, 209, 126, 1);
}

.buttonSecond {
    background-color: transparent;
}
